<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <title>Enrolee</title>
  </head>
  <body class="dash_body">
    <header class="dash_header">
      <h3>Enrolee</h3>
      <input type="text" id="search_box" value="Search" />
      <div btns_header>
        <button>Create Your Event</button>
        <button>My Profile</button>
      </div>
    </header>
    <div class="dash_container">
      <div class="dash_nav">
        <h4>Interests</h4>
        <ul class="dash_tags">
          <li><button class="tags">Science</button></li>
          <li><button class="tags">Technology</button></li>
          <li><button class="tags">Philosophy</button></li>
          <li><button class="tags">Engineering</button></li>
          <li><button class="tags">Data Science</button></li>
          <li><button class="tags">Sociology</button></li>
          <li><button class="tags">Ux Design</button></li>
          <li><button class="tags">Political Science</button></li>
          <li><button class="tags">Web Development</button></li>
          <li><button class="tags">Statistics</button></li>
          <li><button class="tags">Business</button></li>
          <li><button class="tags">Design</button></li>
          <li><button class="tags">Sales</button></li>
          <li><button class="tags">Cybersecuity</button></li>
          <li><button class="tags">Mathematics</button></li>
        </ul>
      </div>

      <div>
        <div class="dash_all">
          <h3 class="">Enroll New Events</h3>
          <div class="dash_cards">
            <div class="card_prev">
              <div class="description_prev">
                <a href="#" class="card_title_prev"
                  ><h5>Analyzing War in Ukraine</h5></a
                >
                <p class="host_prev">
                  Pontificia Universidad Católica del Perú
                </p>
              </div>
              <img
                class="img_prev"
                src="{{url_for('static', filename='img/event1.png')}}"
              />
              <div class="time_data_prev">
                <ul class="ul_prev">
                  <li class="location_prev">
                    <i class="uil uil-map-marker icon_prev"
                      ><span>Online</span></i
                    >
                  </li>
                  <li class="date_prev">
                    <i class="uil uil-schedule icon_prev"
                      ><span>March 29th, 2022</span></i
                    >
                  </li>
                </ul>
                <a href="#" class="link_enroll_prev">Enroll Now</a>
              </div>
            </div>
            <div class="card_prev">
              <div class="description_prev">
                <a href="#" class="card_title_prev"
                  ><h5>Analyzing War in Ukraine</h5></a
                >
                <p class="host_prev">
                  Pontificia Universidad Católica del Perú
                </p>
              </div>
              <img
                class="img_prev"
                src="{{url_for('static', filename='img/event1.png')}}"
              />
              <div class="time_data_prev">
                <ul class="ul_prev">
                  <li class="location_prev">
                    <i class="uil uil-map-marker icon_prev"
                      ><span>Online</span></i
                    >
                  </li>
                  <li class="date_prev">
                    <i class="uil uil-schedule icon_prev"
                      ><span>March 29th, 2022</span></i
                    >
                  </li>
                </ul>
                <a href="#" class="link_enroll_prev">Enroll Now</a>
              </div>
            </div>
            <div class="card_prev">
              <div class="description_prev">
                <a href="#" class="card_title_prev"
                  ><h5>Analyzing War in Ukraine</h5></a
                >
                <p class="host_prev">
                  Pontificia Universidad Católica del Perú
                </p>
              </div>
              <img
                class="img_prev"
                src="{{url_for('static', filename='img/event1.png')}}"
              />
              <div class="time_data_prev">
                <ul class="ul_prev">
                  <li class="location_prev">
                    <i class="uil uil-map-marker icon_prev"
                      ><span>Online</span></i
                    >
                  </li>
                  <li class="date_prev">
                    <i class="uil uil-schedule icon_prev"
                      ><span>March 29th, 2022</span></i
                    >
                  </li>
                </ul>
                <a href="#" class="link_enroll_prev">Enroll Now</a>
              </div>
            </div>
            <div class="card_prev">
              <div class="description_prev">
                <a href="#" class="card_title_prev"
                  ><h5>Analyzing War in Ukraine</h5></a
                >
                <p class="host_prev">
                  Pontificia Universidad Católica del Perú
                </p>
              </div>
              <img
                class="img_prev"
                src="{{url_for('static', filename='img/event1.png')}}"
              />
              <div class="time_data_prev">
                <ul class="ul_prev">
                  <li class="location_prev">
                    <i class="uil uil-map-marker icon_prev"
                      ><span>Online</span></i
                    >
                  </li>
                  <li class="date_prev">
                    <i class="uil uil-schedule icon_prev"
                      ><span>March 29th, 2022</span></i
                    >
                  </li>
                </ul>
                <a href="#" class="link_enroll_prev">Enroll Now</a>
              </div>
            </div>
            <div class="card_prev">
              <div class="description_prev">
                <a href="#" class="card_title_prev"
                  ><h5>Analyzing War in Ukraine</h5></a
                >
                <p class="host_prev">
                  Pontificia Universidad Católica del Perú
                </p>
              </div>
              <img
                class="img_prev"
                src="{{url_for('static', filename='img/event1.png')}}"
              />
              <div class="time_data_prev">
                <ul class="ul_prev">
                  <li class="location_prev">
                    <i class="uil uil-map-marker icon_prev"
                      ><span>Online</span></i
                    >
                  </li>
                  <li class="date_prev">
                    <i class="uil uil-schedule icon_prev"
                      ><span>March 29th, 2022</span></i
                    >
                  </li>
                </ul>
                <a href="#" class="link_enroll_prev">Enroll Now</a>
              </div>
            </div>
            <div class="card_prev">
              <div class="description_prev">
                <a href="#" class="card_title_prev"
                  ><h5>Analyzing War in Ukraine</h5></a
                >
                <p class="host_prev">
                  Pontificia Universidad Católica del Perú
                </p>
              </div>
              <img
                class="img_prev"
                src="{{url_for('static', filename='img/event1.png')}}"
              />
              <div class="time_data_prev">
                <ul class="ul_prev">
                  <li class="location_prev">
                    <i class="uil uil-map-marker icon_prev"
                      ><span>Online</span></i
                    >
                  </li>
                  <li class="date_prev">
                    <i class="uil uil-schedule icon_prev"
                      ><span>March 29th, 2022</span></i
                    >
                  </li>
                </ul>
                <a href="#" class="link_enroll_prev">Enroll Now</a>
              </div>
            </div>
            <div class="card_prev">
              <div class="description_prev">
                <a href="#" class="card_title_prev"
                  ><h5>Analyzing War in Ukraine</h5></a
                >
                <p class="host_prev">
                  Pontificia Universidad Católica del Perú
                </p>
              </div>
              <img
                class="img_prev"
                src="{{url_for('static', filename='img/event1.png')}}"
              />
              <div class="time_data_prev">
                <ul class="ul_prev">
                  <li class="location_prev">
                    <i class="uil uil-map-marker icon_prev"
                      ><span>Online</span></i
                    >
                  </li>
                  <li class="date_prev">
                    <i class="uil uil-schedule icon_prev"
                      ><span>March 29th, 2022</span></i
                    >
                  </li>
                </ul>
                <a href="#" class="link_enroll_prev">Enroll Now</a>
              </div>
            </div>
            <div class="card_prev">
              <div class="description_prev">
                <a href="#" class="card_title_prev"
                  ><h5>Analyzing War in Ukraine</h5></a
                >
                <p class="host_prev">
                  Pontificia Universidad Católica del Perú
                </p>
              </div>
              <img
                class="img_prev"
                src="{{url_for('static', filename='img/event1.png')}}"
              />
              <div class="time_data_prev">
                <ul class="ul_prev">
                  <li class="location_prev">
                    <i class="uil uil-map-marker icon_prev"
                      ><span>Online</span></i
                    >
                  </li>
                  <li class="date_prev">
                    <i class="uil uil-schedule icon_prev"
                      ><span>March 29th, 2022</span></i
                    >
                  </li>
                </ul>
                <a href="#" class="link_enroll_prev">Enroll Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
