<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
    />
    <title>Enrolee</title>
  </head>
  <body>
    <!-- ====HEADER===== -->
    <header class="header">
      <div class="container">
        <h2 class="icon">Enrolee</h2>
        <div class="btns_head">
          <button class="btn_sign">
            <a href="/register" class="link_head_1">Sign Up</a>
          </button>
          <button class="btn_log">
            <a href="/login" class="link_head_2">Log In</a>
          </button>
        </div>
      </div>
    </header>
    <div class="container2"></div>

    <script src="{{url_for('static', filename = 'js/index.js')}}"></script>
  </body>
</html>
